<p id="notice"><%= notice %></p>

<p>
  <strong>Pet name:</strong>
  <%= @appointment.pet_name %>
</p>

<p>
  <strong>Doctor name:</strong>
  <%= @appointment.doctor_name %>
</p>

<p>
  <strong>Reason:</strong>
  <%= @appointment.reason %>
</p>

<p>
  <strong>Appointment date:</strong>
  <%= @appointment.appointment_date %>
</p>


<%= link_to 'Edit', edit_appointment_path(@appointment) %> |
<%= link_to 'Back', appointments_path %>
